$purple: #4b2680;
$orange: #f59c00;
$green: #8fbf25;
$blue: #39a6df;

$black: #1a1a1a;
$white: #fefefe;
$dark-gray: #17141f;
$darker-gray: #2c2541;
$light-gray: #b19dd8;

$padding: 10px;
$radius: 3px;

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

%purple {
	background: $purple;
	&, a {
		color: $white;
	}
}

%orange {
	background: $orange;
	&, a {
		color: $black;
	}
}

%green {
	background: $green;
	&, a {
		color: $black;
	}
}

%blue {
	background: $blue;
	&, a {
		color: $black;
	}
}

input[type="text"] {
	appearance: none;
	border: none;
	box-shadow: none;
	background: none;
	padding: 0.25em;
}

input[type="button"],
input[type="submit"],
button {
	appearance: none;
	border: none;
	box-shadow: none;
	background: $dark-gray;
	color: $white;
	cursor: pointer;
	padding: 10px;
	&:hover {
		background-color: $darker-gray;
		color: $light-gray;
	}
}

a {
	color: $dark-gray;
	text-decoration: none;
	&:hover, &:focus {
		color: $dark-gray;
	}
}

.has-badge {
	position: relative;
	.badge {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(2px, -5px);
		border-radius: 1000px;
		background: red;
		color: $white;
		text-align: center;
		line-height: 20px;
		vertical-align: middle;
		white-space: nowrap;
		// font-weight: 600;
		width: 20px;
		height: 20px;
		z-index: 50;
		font-family: Helvetica, sans-serif;
	}
}

.App {
	display: grid;
	position: relative;
	height: 100vh;
	overflow: hidden;
	grid-template-columns: 250px 1fr;
	user-select: none;
}

#sidebar {
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: $dark-gray;
	color: $white;
	order: 1;
	a {
		color: $white;
		&:hover, &:focus {
			color: $light-gray;
		}
	}
}

#main {
	order: 2;
	display: grid;
	grid-template-rows: 50px 1fr;
}

#header {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1px;
	z-index: 100;
	@extend %purple;
	h1 {
		flex: 0 1 auto;
		margin: 0 20px;
	}
	form {
		flex: 1 1 auto;
		margin: 0 20px;
		text-align: right;
	}
	.notification-area {
		display: flex;
		position: relative;
		flex: 0 1 auto;
		padding: 5px;
		.notifications {
			flex: 0 0 auto;
		}
		.notifiaction-list {
			position: absolute;
			top: 100%;
			right: 0;
			overflow: auto;
			background: $darker-gray;
			color: $white;
			font-size: 14px;
			margin-top: -1px;
			z-index: 5;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					position: relative;
					clear: both;
					padding: 5px 10px;
				}
			}
		}
	}
}

.sidetitle {
	display: block;
	padding: $padding;
	font-weight: bold;
}

.client-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	a, button {
		background: $dark-gray;
		color: $light-gray;
		&:hover, &:focus {
			background: $darker-gray;
			color: $light-gray;
		}
	}
	a {
		display: block;
		padding: $padding;
	}
	.accordion-item {
		display: block;
	}
	.accordion-title {
		display: block;
		width: 100%;
		font-weight: bold;
		font-size: 1.25em;
		text-align: left;
		padding: $padding/2 1.25*$padding;
		border-bottom: 1px solid $light-gray;
	}
	.accordion-content {
		padding-top: $padding;
		padding-bottom: $padding;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
	&-items {
		margin: 0;
		padding: 0;
	}
}

.client-properties {
	.client-property {

	}
}

.client-details {
	&-group {
		display: grid;
		h2 {
			margin: 0;
		}
		h3 {
			margin: 0;
		}
	}
	&-item {
		h3 {
			grid-column: 1 / -1;
		}
		.details {
			display: inline-grid;
			grid-gap: 5px 10px;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
			.detail {
				display: contents;
				label {
					padding: 5px 0;
				}
				input {
					padding: 5px 10px;
					background: $light-gray;
				}
			}
		}
	}
}

.main-window {
	display: grid;
	padding: $padding;
}

.client-window {
	position: relative;
	.edit {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.add-client {
	padding: $padding;
	border-top: 1px solid $darker-gray;
	input[type='text'] {
		border: 1px solid #392e5c;
		background: #0e0c13;
		// background: $darker-gray;
		// color: $white;
		color: #faf9fa;
		&:focus {
			border-color: #7d5bbe;
			box-shadow: 0 0 6px -2px #7d5bbe;
		}
	}
}